{% extends "base.html" %}
{% block title%}Compiling Your Code{% endblock %}

{% block content %}
<section class="module-detail">
    <h2 class="module-title">Compiling Your Code</h2>
    <p class="body">
        Filler text
    </p>
    <p class="body">
        Follow these steps to create your own dev branch for the repo. 
    </p>

    <ol class="numbered-list">
        <li class="numbered-list li">
            Test
        </li>
        
    </ol>
    <p class="note">
        Put any tips here.
    </p>
</section>
{% endblock %}
