{% extends "base.html" %}

{% block title %}CE Intern Onboarding Bootcamp{% endblock %}

{% block content %}
<section class="hero">
    <h2>Welcome to the Cloud Engineering Intern Onboarding Bootcamp</h2>
    <p>
        This platform was designed by an intern to help new Cloud Engineering interns 
        get up to speed quickly with devops topics, basic infrastructure, SAP BTP, internal tools, 
        and other essential onboarding resources.
    </p>

    <a href="#" class="btn-primary">Get Started</a>
</section>

<section class="overview">
    <h3>What You'll Learn</h3>
    <ul>
        <li> DevOps and Infrastructure Topics</li>
        <li> Shell Scripting (eg Bash) </li>
        <li> Python and Django </li>
        <li> Understanding Internal Tools and Workflows </li>
    </ul>
</section>
{% endblock %}